*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.preload{
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    transition: opacity 0.5s ease;
    background-color: white;

}
.currency{
    position: absolute;
    font-size: 6.5rem;
    width: 20%;
    text-align: center;
    box-sizing: border-box;
    opacity: 0;
}

.taka{
    left: 38%;
    font-size: 5rem;
    animation: taka ease-in-out 2s infinite .6s;
    z-index: -1;

}

.rupee{
    left: 38%;
    animation: rupee ease-in-out 2s infinite 1.1s; 
    color: crimson; 
    z-index: -1;

}
.usd{
    left:38%;
    animation: usd ease-in-out 2s infinite 1.6s;
    z-index: -1;
}

.euro{
    left:38%;
    animation: usd ease-in-out 2s infinite 2.1s;
    z-index: -1;
    color: crimson; 

}



@keyframes taka{
    0%{
        transform: scale(.2) translateX(-100%);
        opacity: 0;
    }
    50%{
        transform: scale(1.5) translateX(0%);
        opacity: 1;
    }
    100%{
        transform:  scale(.2) translateX(100%);
        opacity: 0;
    }
}

@keyframes rupee{
    0%{
        transform:  scale(.2) translateX(-100%);
        opacity: 0;
    }
    50%{
        transform: scale(1.5) translateX(0%);
        opacity: 1;
    }
    100%{
        transform:  scale(.2) translateX(100%);
        opacity: 0;
    }
}

@keyframes usd{
    0%{
        transform:  scale(.2) translateX(-100%);
        opacity: 0;
    }
    50%{
        transform:scale(1.5) translateX(0%);
        opacity: 1;
    }
    100%{
        transform:  scale(.2) translateX(100%);
        opacity: 0;

    }
}

@keyframes euro{
    0%{
        transform:  scale(.2) translateX(-100%);
        opacity: 0;
    }
    50%{
        transform:scale(1.5) translateX(0%);
        opacity: 1;
    }
    100%{
        transform:  scale(.2) translateX(100%);
        opacity: 0;

    }
}

.preload-finish{
    opacity: 0;
    pointer-events: none;
}



.home{
    background-color: rgb(255, 0, 179);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}





